%p
  %img{src: 'https://en.bitcoin.it/w/images/en/2/29/BC_Logo_.png', style: 'width: 64px; height: 64px;'}

%h2
  Assets

- if defined?(guser) && vip?
  %form{method: 'POST', action: iri.cut('/add-asset')}
    = Rack::Csrf.tag(env)
    %label Add cold asset:
    %input{type: 'text', name: 'address', maxlength: 100, size: 35, placeholder: 'Bitcoin address', autocomplete: 'off', tabindex: 1}
    %input{type: 'submit', tabindex: 2, value: 'Add'}
  %p
    %a{href: iri.cut('/assets-private-keys')} Click here
    to see all private keys.
    %a{href: iri.add(empty: true)} Click here
    to see empty wallets too.

- if assets.empty?
  %p
    The list is empty. Most probably there is something wrong.
    Please,
    %a{href: 'https://t.me/zold_io'} contact us
    in our Telegram group.
- else
  %p
    The total balance is
    %strong= format('%.04f', balance)
    BTC /
    approx.
    = "$#{(price * balance).round}."
    The biggest Bitcoin payout we can send at the moment is
    = format('%.04f', limit)
    BTC:
  %table.compact
    %colgroup
      %col{style: 'width: 25em'}
      %col{style: 'width: 4em'}
      %col{style: 'width: 4em'}
      %col{style: ''}
    %thead
      %tr
        %th
          Address
        %th
          Balance
        %th
          Updated
        %th
    %tbody
      - assets.each do |a|
        %tr
          %td
            %a{href: "https://www.blockchain.com/btc/address/#{a[:address]}"}= a[:address].gsub(/([^ ]{4})/, '\1&shy;')
          %td.right{title: a[:value]}
            - if a[:value].zero?
              = '&mdash;'
            - else
              = format('%.04f', a[:value].to_f / 100_000_000)
          %td{title: a[:updated].utc.iso8601}
            = Zold::Age.new(a[:updated])
          %td
            - if a[:hot]
              - if a[:login].nil?
                %span.green Change
              - else
                %span.green Hot
            - else
              %span.red Cold
  %p
    = succeed ':' do
      %strong.red ATTENTION
    Do not send your bitcoins to these addresses!
    Well, if you want to donate and increase our fund,
    which will bump the rate of ZLD, you can send a few
    bitcoins to any
    %strong.red cold
    address from the list above.
  %p
    The system can send you bitcoins only from
    %span.green hot
    addresses, while
    %span.red cold
    ones are owned by the management of Zerocracy.
    Their private keys are not kept in the database.
    This is done for the sake of security of these digital funds.
