%h2
  Buy/Sell Zolds

%p
  Your current balance is
  = succeed '.' do
    %code= confirmed_user.wallet(&:balance)

%p
  The rate is
  %strong= rate
  BTC per 1 ZLD.
  %a{href: '/rate'} Why?

%p
  If any issues or the payment is lost, contact us in our
  = succeed '.' do
    %a{href: 'https://t.me/zold_io'} Telegram group

%p
  - if confirmed_user.item.btc_arrived?
    The payment
    %strong{style: 'color:darkgreen'} has arrived
    to the address
    %code= confirmed_user.item.btc
    assigned to your account, just
    %strong= ((Time.now - confirmed_user.item.btc_mtime) / 60).round
    minutes ago. Once we receive a few more Blockchain confirmations,
    we will deposit ZLD coins into your wallet.
    Don't worry, this will happen soon!
    If not, ask for help in our
    = succeed '.' do
      %a{href: 'https://t.me/zold_io'} Telegram group
  - else
    %img{style: 'float:right;margin-left:1em;margin-bottom:1em;', src: "https://chart.googleapis.com/chart?chs=128x128&cht=qr&chl=bitcoin:#{confirmed_user.item.btc}"}
    To
    %strong buy
    ZLD just send your BTC to this wallet:
    = succeed '.' do
      %code= confirmed_user.item.btc
    Once your payment is completed in the Bitcoin network, you will get ZLD
    to your wallet.
    You can send a payment to this address only once and only within the next
    = succeed '!' do
      %strong= "#{(30 - (Time.now - confirmed_user.item.btc_mtime) / 60).round} minutes"
    When the payment is received, you will find a new address for the next payment, at this page.

%p
  To
  %strong sell
  your ZLD and receive BTC just fill this form
  and we will send you the payment promptly, deducting
  = "#{(fee * 100)}%"
  fee
  (the limit is
  = sell_limit
  per day per user):

%form{method: 'POST', action: '/do-sell'}
  %fieldset
    %label
      Your
      = succeed ':' do
        %a{href: 'https://blog.zold.io/2018/07/18/keygap.html'} keygap
    %input{type: 'text', name: 'keygap', placeholder: 'Your secret...', autocomplete: 'off', tabindex: 1, autofocus: true}
    %label The amount of ZLD to sell:
    %input{type: 'text', name: 'amount', size: 12, autocomplete: 'off', tabindex: 2}
    %label
      Bitcoin
      %a{href: 'https://en.bitcoin.it/wiki/Address'} address
      to send to, in
      = succeed ',' do
        %a{href: 'https://en.bitcoin.it/wiki/Transaction#Pay-to-PubkeyHash'} P2PKH
      = succeed ',' do
        %a{href: 'https://en.bitcoin.it/wiki/Pay_to_script_hash'} P2SH
      or
      %a{href: 'https://en.bitcoin.it/wiki/Bech32'} Bech32
      format:
    %input{type: 'text', name: 'btc', maxlength: 50, size: 45, autocomplete: 'off', tabindex: 3}
    %input{type: 'submit', onclick: "return confirm('Are you sure? This operation is not reversable!')", tabindex: 4}

%p
  This
  %a{href: 'https://blog.zold.io/2018/12/09/btc-to-zld.html'} blog post
  explains how this exchange mechanism works.

%p
  FYI, the
  %a{href: 'https://blog.blockchain.com/2016/06/15/receive-payments-api-update-address-gap-limits/#more-9024'} gap
  in Blockchain.com is
  = gap
  (which is
  = succeed ').' do
    - if gap > 20
      %span{style: 'color:darkred'} a problem
    - else
      %span{style: 'color:darkgreen'} OK
