%h2
  Send Us Bitcoins and Receive Zolds

%p
  The rate is
  %strong= rate
  BTC per 1 ZLD.
  %a{href: '/rate'} Why?

%p
  If any issues or the payment is lost, contact us in our
  = succeed '.' do
    %a{href: 'https://t.me/zold_io'} Telegram group

%p
  %img{style: 'float:right;margin-left:1em;margin-bottom:1em;', src: "https://chart.googleapis.com/chart?chs=128x128&cht=qr&chl=bitcoin:#{address}"}
  Send your bitcoins here:
  %code= address

%p
  We accept the payment right after the first
  = succeed '.' do
    %a{href: 'https://en.bitcoin.it/wiki/Confirmation'} confirmation

%p
  This
  %a{href: 'https://blog.zold.io/2018/12/09/btc-to-zld.html'} blog post
  explains how this exchange mechanism works.
