%p
  This is the code you should send in
  %code X-Zold-Wts
  HTTP header in order to perform all API operations:

%p
  %code= code

%p
  For example, in order to send money to
  %code @yegor256
  GitHub user, do the following HTTP request:

%pre
  POST /do-pay HTTP/1.1
  Content-Type: application/x-www-form-urlencoded
  Host: wts.zold.io
  = 'X-Zold-Wts: ' + code + "\n\n"
  bnf=yegor256&amount=19.99&details=For+the+pizza&keygap=84Hjsow9

%p
  Or from the command line, using
  %a{href: 'https://en.wikipedia.org/wiki/CURL'}<
    %code curl
  tool:

%pre
  = "curl https://wts.zold.io/do-pay \\\n"
  = "  --request POST \\\n"
  = "  --header \"Content-Type: application/x-www-form-urlencoded\" \\\n"
  = "  --header \"X-Zold-Wts: #{code}\" \\\n"
  = "  --data \"bnf=yegor256\" \\\n"
  = "  --data \"amount=19.99\" \\\n"
  = "  --data \"details=For+the+pizza\" \\\n"
  = "  --data \"keygap=84Hjsow9\""

%p
  You will get
  %code 302
  response no matter what. There is no way to check the status
  of transaction right after its submission.
  If everything goes well, the payment will be sent.
  Otherwise, we are sorry.

%p
  There are more entry points:

%p
  %code GET /id
  returns your wallet ID.

%p
  %code GET /balance
  returns the current balance of the wallet.
  If the wallet is absent on the server, there will be 404 response code.

%p
  %code GET /pull
  asks the server to pull your wallet from the network.

%p
  %code GET /find
  finds and returns all transactions in the wallet that match the criteria.
  You can specify the criteria in the query string. For example,
  to find all transactions that were sent from the wallet
  %code 012345670.+
  with the details
  %code Hello!
  (they both are regular expressions):
  %code /find?bnf=012345670.%2B&details=Hello!
  You can match by all transaction fields (see the
  = succeed ').' do
    %a{href: 'https://papers.zold.io/wp.pdf'} White Paper


