%h2
  General Ledger

%p
  %img{style: 'display:inline-block', src: '/graph.svg?keys=Volume24&digits=0'}

- max = 50

%p
  The transactions you see in this list were collected from all
  %a{href: '/remotes'} visible
  nodes. They are not fully confirmed. You can't rely on this
  information. We collect this data in order to stay informed
  about the movements in the network.

%form{method: '/gl', action: 'GET'}
  %input{type: 'text', name: 'query', size: 40, placeholder: 'source:0000000000000000', autocomplete: 'off', required: true, tabindex: 1, autofocus: true, value: query}
  %input{type: 'submit', tabindex: 2, value: 'Search'}

%table.compact
  %colgroup
    %col{style: 'width: 2em'}
    %col{style: 'width: 5em'}
    %col{style: 'width: 5em'}
    %col{style: 'width: 10em'}
    %col{style: 'width: 10em'}
    %col{style: ''}
  %thead
    %tr
      %th
        ID
      %th
        Amount
      %th
        Date
      %th
        From
      %th
        To
      %th
        Details
  %tbody
    - if since
      %tr
        %td.center{colspan: 6}
          %a{href: '/gl'} Show most recent transactions
      %tr
        %td.center{colspan: 6}
          = 'Since ' + since.utc.iso8601
    - txns = gl.fetch(since: since ? since : Time.now, limit: max, query: query)
    - if txns.empty?
      %tr
        %td.center{colspan: 6}
          No transactions as of yet.
    - else
      - txns.each do |t|
        - @last = t[:date]
        %tr
          %td
            = t[:id]
          %td.right{title: t[:amount].to_i}
            = t[:amount].to_zld
          %td{title: t[:date].utc.iso8601}
            = Zold::Age.new(t[:date])
          %td
            %code
              %a{href: "http://www.zold.io/ledger.html?wallet=#{t[:source]}"}= t[:source]
          %td
            %code
              %a{href: "http://www.zold.io/ledger.html?wallet=#{t[:target]}"}= t[:target]
          %td
            = t[:details]
      - if @last && txns.count == max
        %tr
          %td.center{colspan: 6}
            %a{href: '?since=' + @last.utc.iso8601} Show more
