%h2
  Zold Web Wallet

- u = confirmed_user
- max = 50

%p
  Wallet ID:
  %a{href: "http://www.zold.io/ledger.html?wallet=#{u.item.id}"}<
    %code= u.item.id
  %span{onclick: 'document.getElementById("wallet_id").select(); document.execCommand("copy");', style:'cursor:pointer;', title: 'Click here to copy wallet ID into your clipboard'}
    != "&#x2398"
  %input{style: 'height:0px;width:0px;opacity:0;', id: 'wallet_id', value: u.item.id}
  - if u.wallet_exists?
    - u.wallet do |w|
      %br
      Balance:
      = "#{w.balance.to_zld} ZLD (#{w.balance.to_i} zents)"
      %br
      Transactions:
      = w.txns.count
      %br
      = succeed ':' do
        %a{href: 'https://blog.zold.io/2019/01/15/taxes-explained.html'} Taxes
      = "#{Zold::Tax.new(w).paid} paid, the debt is #{Zold::Tax.new(w).debt}"
      %br
      File size:
      = "#{Zold::Size.new(w.size)}"
      %br
      Modified:
      = "#{w.mtime.utc.iso8601} (#{Zold::Age.new(w.mtime.utc.iso8601)} ago)"

- if u.wallet_exists? && u.wallet(&:txns).count > 1000
  %p{style: 'color: darkred'}
    You have too many transactions in your wallet, which makes
    its processing too slow. It is recommended to
    %a{href: '/migrate'} migrate
    to a new wallet.

- if u.wallet_exists? && u.wallet(&:balance).negative?
  %p{style: 'color: darkred'}
    Your balance is negative, which means that some of your
    transactions will be rolled back in the nearest future!
    Try to
    %a{href: '/pull'} pull your wallet
    in a few minutes to get it back to the normal state.

- if u.wallet_exists?
  %table
    %colgroup
      %col{style: 'width: 2em'}
      %col{style: 'width: 5em'}
      %col{style: 'width: 5em'}
      %col{style: 'width: 10em'}
      %col{style: ''}
    %thead
      %tr
        %th
          ID
        %th
          Amount
        %th
          Date
        %th
          From/To
        %th
          Details
    %tbody
      - if start
        %tr
          %td{colspan: 5, style: 'text-align:center'}
            %a{href: '/home'} Show most recent transactions
        %tr
          %td{colspan: 5, style: 'text-align:center'}
            = 'Since ' + start.utc.iso8601
      - txns = u.wallet(&:txns).sort_by(&:date).reverse.select { |t| start.nil? || t.date < start }.take(max)
      - if txns.empty?
        %tr
          %td{colspan: 5, style: 'text-align:center'}
            No transactions in the wallet as of yet.
      - else
        - txns.each do |t|
          - @last = t.date
          %tr
            %td
              - if t.amount.negative?
                = '#' + t.id.to_s
              - else
                = '-'
            %td{style: 'text-align:right'}
              %span{title: t.amount.to_i, style: 'color: ' + (t.amount.negative? ? 'darkred' : 'darkgreen')}
                = t.amount.to_zld
            %td
              %span{title: t.date.utc.iso8601}
                = Zold::Age.new(t.date)
            %td
              %a{href: "http://www.zold.io/ledger.html?wallet=#{t.bnf}"}
                %code{title: 'prefix: ' + t.prefix}
                  = t.bnf
            %td
              = t.details.gsub(/([^ ]{16})/, '\1&shy;')
        - if @last && txns.count == max
          %tr
            %td{colspan: 5, style: 'text-align:center'}
              %a{href: '?start=' + @last.utc.iso8601} Show more
- else
  %p
    Your wallet doesn't exist on our server yet.
    Please,
    %a{href: '/pull'} pull it
    from the network!
