%p
  Wallet ID:
  %code
    = user.item.id
  - if user.wallet.exists?
    = ' | '
    Balance:
    = user.wallet.balance
    = '/'
    = "#{user.wallet.txns.count}t"

- if user.wallet.exists? && user.wallet.balance.negative?
  %p{style: 'color: darkred'}
    Your balance is negative, which means that some of your
    transactions will be rolled back in the nearest future!
    Try to
    %a{href: '/pull'} pull your wallet
    in a few minutes to get it back to the normal state.

- if user.wallet.exists?
  %table{style: 'width:100%'}
    %colgroup
      %col{style: 'width: 2em'}
      %col{style: 'width: 5em'}
      %col{style: 'width: 13em'}
      %col{style: 'width: 10em'}
      %col{style: ''}
    %thead
      %tr
        %th
          ID
        %th
          Amount
        %th
          Date
        %th
          Beneficiary
        %th
          Details
    %tbody
      - if start
        %tr
          %td{colspan: 5, style: 'text-align:center'}
            %a{href: '/home'} Show most recent transactions
        %tr
          %td{colspan: 5, style: 'text-align:center'}
            = 'Since ' + start.utc.iso8601
      - txns = user.wallet.txns.sort_by(&:date).reverse.select { |t| start.nil? || t.date < start }.take(50)
      - if txns.empty?
        %tr
          %td{colspan: 5, style: 'text-align:center'}
            No transactions in the wallet as of yet.
      - else
        - txns.each do |t|
          - @last = t.date
          %tr
            %td
              - if t.amount.negative?
                = '#' + t.id.to_s
              - else
                = '-'
            %td{style: 'text-align:right'}
              %span{title: t.amount.to_i}
                = t.amount.to_zld
            %td
              = t.date.utc.iso8601
            %td
              %code
                = t.bnf
            %td
              = t.details
        - if @last
          %tr
            %td{colspan: 5, style: 'text-align:center'}
              %a{href: '?start=' + @last.utc.iso8601} Show more
- else
  %p
    Your wallet doesn't exist on our server yet.
    Please,
    %a{href: '/pull'} pull it
    from the network!
