- # (The MIT License)
- # 
- # Copyright (c) 2018-2025 Zerocracy
- # 
- # Permission is hereby granted, free of charge, to any person obtaining a copy
- # of this software and associated documentation files (the 'Software'), to deal
- # in the Software without restriction, including without limitation the rights
- # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
- # copies of the Software, and to permit persons to whom the Software is
- # furnished to do so, subject to the following conditions:
- # 
- # The above copyright notice and this permission notice shall be included in all
- # copies or substantial portions of the Software.
- # 
- # THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
- # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
- # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
- # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
- # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
- # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
- # SOFTWARE.

%h2
  Jobs

- if jobs.empty?
  %p
    The list of jobs is empty.
- else
  %form{method: 'GET', action: iri.cut('/job')}
    %label Show:
    %input{type: 'text', name: 'id', maxlength: 64, size: 35, placeholder: 'The ID of the job to see', autocomplete: 'off', tabindex: 1, required: true}
    %input{type: 'submit', tabindex: 2, value: 'Log'}
  %form{method: 'GET', action: iri.cut('/output')}
    %label Show:
    %input{type: 'text', name: 'id', maxlength: 64, size: 35, placeholder: 'The ID of the job to see', autocomplete: 'off', tabindex: 1, required: true}
    %input{type: 'submit', tabindex: 2, value: 'Output'}
  %table.compact
    %colgroup
      %col{style: 'width: 10em'}
      %col{style: 'width: 6em'}
      %col{style: ''}
      %col{style: 'width: 4em'}
    %thead
      %tr
        %th
          Id
        %th.right
          Output
        %th
          Log
        %th
          Started
    %tbody
      - jobs.each do |j|
        %tr
          %td
            %a.monospace{href: iri.cut('/job').add(id: j[:id])}= j[:id][0..7]
          %td.right
            %a{href: iri.cut('/output').add(id: j[:id])}= j[:output]&.length
          %td{class: j[:log] == 'OK' ? 'seagreen' : ''}
            &= j[:log]
          %td
            = Zold::Age.new(j[:started])
  %p
    - if offset.positive?
      %a.item{href: iri.over(offset: offset - 25)} Previous
    - if jobs.count >= limit
      %a.item{href: iri.over(offset: offset + 25)} Next
  %p
    Total jobs in the database:
    = total
