- # SPDX-FileCopyrightText: Copyright (c) 2018-2025 Zerocracy
- # SPDX-License-Identifier: MIT

%h2
  RSA Private Key

%p
  This is the private
  %a{href: 'https://en.wikipedia.org/wiki/RSA_(cryptosystem)'}
    RSA key
  for your wallet
  =' '
  = succeed ':' do
    %code= confirmed_user.item.id

%form{method: 'GET', action: '/id_rsa'}
  = Rack::Csrf.tag(env)
  %label
    You may want to download your private RSA key
    and keep it locally, just in case something
    happens with this website. Using this
    key you can always get access to your wallet
    and send payments from it
    (keygap is
    = succeed '):' do
      %a{href: 'https://blog.zold.io/2019/03/30/keygap-is-lost.html'} lost?
  %input{type: 'text', name: 'keygap', placeholder: 'Your keygap...', autocomplete: 'off', tabindex: 1, autofocus: true}
  %input{type: 'submit', value: 'Download'}

%pre
  =confirmed_user.item.raw_key.gsub(/\*/, '<span style="color:red">*</span>')

%p
  Even though we keep this private RSA key in our database, it can't be used to send out money from your wallet,
  because the
  = succeed ',' do
    %a{href: 'https://blog.zold.io/2018/07/18/keygap.html'} keygap
  a small and important part of it, has been extracted and given to you (marked with red stars).
  Every time you make a new payment we ask you to provide it.
  Thus, even if our database gets hacked and/or stolen, your wallet is safe.
