!!! 5
%html
  %head
    %title
      =title
    %meta{charset:'UTF-8'}
    %meta{name:'viewport', content:'width=device-width, initial-scale=1.0'}
    %meta{name:'keywords', content:'Zold, Cryptocurrency, Payments, Online Payments'}
    %meta{name:'description', content:'Zold Web Wallets'}
    %link{type:'text/css', href:url('css/main.css'), rel:'stylesheet'}
    %link{rel:'shortcut icon', href:'https://www.zold.io/images/logo-blue.png'}
    %link{href: 'https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css.min.css', rel: 'stylesheet'}
  %body
    %section
      %header
        %nav
          %ul
            %li
              %a{href: '/'}
                %img.logo{src: 'https://www.zold.io/images/logo-blue.svg', alt: 'Zold logo'}
        %nav
          %ul
            %li
              - if defined? guser
                %a{href: '/home'}
                  = "@#{guser[:login]}"
              - else
                %a{href: login_link}
                  Login
            %li{title: 'All wallets available in the local directory'}
              Wallets:
              = wallets.all.count
            %li{title: 'All visible remote nodes'}
              Remotes:
              %a{href: '/remotes'}
                = remotes.all.count
            %li{title: 'Currently running jobs vs. jobs waiting in the line'}
              Pool:
              %a{href: '/log'}
                = "#{pool.length}/#{pool.queue_length}"
            - if defined? guser
              %li
                %a{href: '/logout'}
                  Logout
        - if defined? guser
          %nav
            %ul
              %li
                - if user.wallet(&:exists?)
                  %a{href: '/pay'} Pay
                - else
                  %span{style: 'color: gray'} Pay
              %li
                %a{href: '/pull'} Pull
              %li
                - if user.wallet(&:exists?)
                  %a{href: '/invoice'} Invoice
                - else
                  %span{style: 'color: gray'} Invoice
              %li
                - if user.wallet(&:exists?)
                  %a{href: '/fund'} Buy
                - else
                  %span{style: 'color: gray'} Buy
              %li
                %a{href: '/log', style: (File.exist?(latch) ? 'color:red' : '')} Log
              %li
                %a{href: '/key'} Key
              %li
                %a{href: '/api'} API
              %li
                %del
                  %a{href: '/create', onclick: "return confirm('The wallet will be re-created, the existing RSA private key will be deleted from our database, are you sure?')"} Restart
          - if File.exist?(latch)
            %nav
              %ul
                %li{style: 'color:red'}
                  We are
                  %a{href: '/log'} updating
                  your wallet right now.
                  Please, refresh the page in a minute.

      %article
        = yield
      %footer{style: 'color:gray;font-size:0.8em;line-height:1.4em;'}
        %nav
          %ul
            %li
              If something goes wrong, you have a question, or you
              simply want to suggest a new feature,
              %br
              please,
              %a{href: 'https://github.com/zold-io/wts.zold.io'} submit it
              to our GitHub repository;
              we need your feedback!
        %nav
          %ul
            %li
              &copy;
              %a{href: 'https://www.zerocracy.com'} Zerocracy
            %li
              = "v#{ver}"
            %li
              = "#{Zold::VERSION}/#{Zold::PROTOCOL}"
            %li
              = request.ip
        %nav
          %ul
            %a{href: 'https://github.com/zold-io/wts.zold.io/stargazers'}
              %img{src: 'https://img.shields.io/github/stars/zold-io/wts.zold.io.svg?style=flat-square', alt: 'GitHub stars'}
