!!! 5
%html
  %head
    %title
      = page_title
    %meta{charset:'UTF-8'}
    %meta{name:'viewport', content:'width=device-width, initial-scale=1.0'}
    %meta{name:'keywords', content:'Zold, Cryptocurrency, Payments, Online Payments'}
    %meta{name:'description', content:'Zold Web Wallets'}
    %link{rel:'shortcut icon', href:'https://www.zold.io/images/logo-blue.png'}
    %link{href: 'https://cdn.rawgit.com/yegor256/tacit/gh-pages/tacit-css.min.css', rel: 'stylesheet'}
    %link{type:'text/css', href:url('css/main.css'), rel:'stylesheet'}
  %body
    :javascript
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(52544728, "init", {id:52544728, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true});
    :javascript
      Cd=document;Cr="&"+Math.random();Cp="&s=1";
      Cd.cookie="b=b";if(Cd.cookie)Cp+="&c=1";
      Cp+="&t="+(new Date()).getTimezoneOffset();
      if(self!=top)Cp+="&f=1";
      <script language="javascript1.1" type="text/javascript"><!--
      if(navigator.javaEnabled())Cp+="&j=1";
      if(typeof(screen)!='undefined')Cp+="&w="+screen.width+"&h="+
      screen.height+"&d="+(screen.colorDepth?screen.colorDepth:screen.pixelDepth);
      Cd.write("<img src='//c.hit.ua/hit?i=59533&g=0&x=2"+Cp+Cr+
      "&r="+escape(Cd.referrer)+"&u="+escape(window.location.href)+
      "' border='0' wi"+"dth='1' he"+"ight='1'/>");
    %section
      %header
        %nav
          %ul
            %li
              %a{href: '/'}
                %img.logo{src: 'https://www.zold.io/images/logo-blue.svg', alt: 'Zold logo'}
        %nav
          %ul
            - if defined? header_off
              %li
                An Experimental Non-Blockchain
                Cryptocurrency for Fast Micro Payments
              %br
              %li
                %a{href: 'https://github.com/zold-io/zold'} GitHub
              %li
                %a{href: 'https://t.me/zold_io'} Telegram
              %li
                %a{href: 'https://bitcointalk.org/index.php?topic=5095078'} Bitcointalk
              %li
                %a{href: 'https://facebook.com/zerocracy'} Facebook
              %li
                %a{href: 'https://twitter.com/0crat'} Twitter
            - else
              %li
                - if defined? guser
                  %a{href: '/home'}
                    = title
                - else
                  %a{href: '/'}
                    Login
              %li
                %a{href: '/rate'} Rate
              %li{title: 'All wallets available in the local directory'}
                Wallets:
                = wallets.all.count
              %li{title: 'All visible remote nodes'}
                Remotes:
                %a{href: '/remotes'}
                  = remotes.all.count
              %li{title: 'Currently running jobs vs. jobs waiting in the line'}
                Pool:
                %a{href: '/log'}
                  = "#{pool.length}/#{pool.queue_length}"
              - if defined? guser
                %li
                  %a{href: '/logout'}
                    Logout
        - if defined? guser
          %nav
            %ul
              %li
                - if user.wallet_exists?
                  %a{href: '/pay'} Pay
                - else
                  %span.gray Pay
              %li
                %a{href: '/pull'} Pull
              %li
                - if user.wallet_exists?
                  %a{href: '/invoice'} Invoice
                - else
                  %span.gray Invoice
              %li
                %a{href: '/migrate'} Migrate
              %li
                - if user.wallet_exists?
                  %a{href: '/btc'} Buy/Sell
                - else
                  %span.gray Buy/Sell
              %li
                %a{href: '/log', style: (File.exist?(latch) ? 'color:red' : '')} Log
              %li
                %a{href: '/key'} Key
              %li
                %del
                  %a{href: '/restart'} Restart
          - if File.exist?(latch)
            %nav
              %ul
                %li{style: 'color:red'}
                  We are
                  %a{href: '/log'} updating
                  your wallet right now.
                  Please, refresh the page in a minute.
        - if defined? flash_msg
          %p{style: 'background-color:' + flash_color + ';color:white;padding:.1em .5em;border-radius:4px;width:100%;'}
            = flash_msg

      %article
        = yield
      %footer.small.gray
        - unless defined? header_off
          %nav
            %ul
              %li
                %a{href: '/gl'} General Ledger
              %li
                %a{href: '/payables'} Payables
              - if defined? guser
                %li
                  %a{href: '/api'} API
                %li
                  %a{href: '/callbacks'} Callbacks
                %li
                  %a{href: '/payouts'} Payouts
                - if guser == 'yegor256'
                  %li
                    %a{href: '/queue'} Queue
                  %li
                    %a{href: '/toggles'} Toggles
          %nav
            %ul
              %li
                Subscribe to our status updates in
                %a{href: 'https://t.me/zold_wts'} Telegram
        %nav
          %ul
            %li
              If something goes wrong, you have a question, or you
              simply want to suggest a new feature,
              %br
              please,
              %a{href: 'https://github.com/zold-io/wts.zold.io'} submit it
              to our GitHub repository;
              we need your feedback!
        %nav
          %ul
            %li
              &copy;
              %a{href: 'https://www.zerocracy.com'} Zerocracy
            %li{title: 'Currently deployed version of WTS'}
              = "v#{ver}"
            %li{title: 'Zold Ruby software version and the protocol ID'}
              = "#{Zold::VERSION}/#{Zold::PROTOCOL}"
            %li{title: 'Currently consumed memory vs. total system memory, in Mb'}
              = "#{(mem / (1024 * 1024)).round}/#{(total_mem / (1024 * 1024)).round}"
            %li{title: 'Your visible IP address'}
              = request.ip
        %nav
          %ul
            %a{href: 'https://github.com/zold-io/wts.zold.io/stargazers'}
              %img{src: 'https://img.shields.io/github/stars/zold-io/wts.zold.io.svg?style=flat-square', alt: 'GitHub stars'}
    %script{async: true, src: 'https://www.googletagmanager.com/gtag/js?id=UA-1963507-54'}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-1963507-54');
