!!! 5
%html
  %head
    %title= page_title
    %meta{charset:'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'keywords', content: 'Zold, Cryptocurrency, Payments, Online Payments, Blockchain'}
    %meta{name: 'description', content: 'Zold Web Wallets: Experimental Non-Blockchain Cryptocurrency for Fast Micro-Payments'}
    %link{rel: 'shortcut icon', href: 'https://www.zold.io/images/logo-blue.png'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css', rel: 'stylesheet'}
    %link{href: 'https://cdn.jsdelivr.net/gh/yegor256/drops@gh-pages/drops.min.css', rel: 'stylesheet'}
    %link{type: 'text/css', href: url('css/main.css'), rel: 'stylesheet'}
    %meta{name: 'twitter:creator', content: '@0crat'}
    %meta{name: 'twitter:site', content: '@0crat'}
    %meta{name: 'twitter:title', property: 'og:title', content: 'Zold'}
    %meta{name: 'twitter:description', property: 'og:description', content: 'Experimental Non-Blockchain Cryptocurrency for Fast Micro-Payments'}
    %meta{name: 'twitter:url', property: 'og:url', content: request.url}
    %meta{name: 'telegram:channel', content: 'zold_io'}
    %meta{name: 'og:image', content: 'https://blog.zold.io/images/ledger.jpg'}
    %meta{name: 'twitter:image', content: 'https://blog.zold.io/images/ledger.jpg'}
    %meta{name: 'twitter:card', content: 'summary'}
    %meta{name: 'twitter:image:alt', content: 'Zold'}
    %script{src: 'https://code.jquery.com/jquery-3.3.1.min.js'}
    %script{src: 'https://browser.sentry-cdn.com/5.4.3/bundle.min.js'}
    :javascript
      $(function() {
        Sentry.init({ dsn: '#{sentry}' });
      });
  %body
    %section
      %header.unprintable
        %nav
          %ul
            %li
              %a{href: iri.cut('/')}
                %img.logo{src: 'https://www.zold.io/images/logo-blue.svg', alt: 'Zold logo'}
        - if defined?(guser) && user.fake?
          %nav
            %ul
              %li.bold.firebrick
                It is a sandbox account!
        %nav
          %ul
            - if defined? header_off
              %li
                An Experimental Non-Blockchain
                Cryptocurrency for Fast Micro Payments
              %br
              %li
                %a{href: 'https://github.com/zold-io/zold'} GitHub
              %li
                %a{href: 'https://t.me/zold_io'} Telegram
              %li
                %a{href: 'https://bitcointalk.org/index.php?topic=5095078'} Bitcointalk
              %li
                %a{href: 'https://facebook.com/zerocracy'} Facebook
              %li
                %a{href: 'https://twitter.com/0crat'} Twitter
            - else
              - if defined? guser
                %li
                  %a{href: iri.cut('/home')}
                    = title
              - else
                %li
                  %a{href: iri.cut('/mobile_send')}
                    Login
                %li
                  %a{href: iri.cut('/mobile_send')}
                    Sign Up
              %li
                %a{href: iri.cut('/rate')} Rate
              %li{title: 'All wallets available in the local directory'}
                Wallets:
                = wallets.all.count
              %li{title: 'All visible remote nodes'}
                Remotes:
                %a{href: iri.cut('/remotes')}
                  = remotes.all.count
              %li
                Pool:
                %span{title: "We can run up to #{pool.length} concurrent jobs"}<
                  = pool.length
                = '/'
                %span{class: pool.queue_length > 16 ? 'firebrick' : '', title: "There are #{pool.queue_length} jobs waiting in the queue"}<
                  = pool.queue_length
              - if defined? guser
                %li
                  %a{href: iri.cut('/logout'), title: 'Exit and remove the cookies'}
                    Logout
        - if defined? guser
          %nav
            %ul
              %li
                - if !user.wallet_exists?
                  %span.gray{title: 'You can\'t pay, try to Pull the wallet first'} Pay
                - elsif File.exist?(latch)
                  %span.gray{title: 'You can\'t pay now, we are working with your wallet, try in a few minutes'} Pay
                - else
                  %a{href: iri.cut('/pay')} Pay
              %li
                - if File.exist?(latch)
                  %span.gray{title: 'We are working with your wallet, come back in a few minutes'} Pull
                - else
                  %a{href: iri.cut('/pull').add(force: true), onclick: "return confirm('Are you sure? This will take about a minute.')"} Pull
              %li
                %a{href: iri.cut('/push')} Push
              %li
                - if user.wallet_exists?
                  %a{href: iri.cut('/invoice')} Invoice
                - else
                  %span.gray{title: 'You have to Pull your wallet first'} Invoice
              %li
                - if File.exist?(latch)
                  %span.gray{title: 'We are working with your wallet, can\'t Migrate now, come back in a few minutes'} Migrate
                - else
                  %a{href: iri.cut('/migrate')} Migrate
              %li
                - if !user.wallet_exists?
                  %span.gray{title: 'You have to Pull the wallet first'} Buy/Sell
                - elsif File.exist?(latch)
                  %span.gray{title: 'We are currently working with your wallet, come back in a few minutes'} Buy/Sell
                - else
                  %a{href: iri.cut('/buy-sell')} Buy/Sell
              %li
                %a{href: iri.cut('/log'), class: (File.exist?(latch) ? 'firebrick' : '')} Log
              %li
                %a{href: iri.cut('/key')} Key
              %li
                %del
                  %a{href: iri.cut('/restart')} Restart
          - if File.exist?(latch)
            %nav
              %ul
                %li.firebrick
                  We are
                  %a{href: iri.cut('/log')} updating
                  your wallet right now.
                  Please, refresh the page in a minute.
                  If it doesn't help, check the
                  %a{href: iri.cut('/log')} Log
                  tab.
        - if defined? flash_msg
          %p{style: 'background-color:' + flash_color + ';color:white;padding:.1em .5em;border-radius:4px;width:100%;'}
            = flash_msg

      %article
        = yield
      %footer.smaller.gray.unprintable
        - unless defined? header_off
          %nav
            %ul
              %li
                %a{href: iri.cut('/gl')} General Ledger
              %li
                %a{href: iri.cut('/payables')} Payables
              %li
                %a{href: iri.cut('/assets')} Assets
              - if defined? guser
                %li
                  %a{href: iri.cut('/api')} API
                %li
                  %a{href: iri.cut('/callbacks')} Callbacks
                %li
                  %a{href: iri.cut('/payouts')} Payouts
                %li
                  %a{href: iri.cut('/referrals')} Referrals
                - if vip?
                  %li
                    %a{href: iri.cut('/jobs')} Jobs
                  %li
                    %a{href: iri.cut('/toggles')} Toggles
                  %li
                    %a{href: iri.cut('/sql')} SQL
          %nav
            %ul
              %li
                Subscribe to our status updates in
                %img{src: iri.cut('/telegram-logo.svg'), style: 'height: 1.1em; vertical-align: middle;'}
                %a{href: 'https://t.me/zold_wts'} Telegram
        %nav
          %ul
            %li{style: 'max-width: 600px'}
              If something goes wrong, you have a question, or you
              simply want to suggest a new feature,
              please,
              %a{href: 'https://github.com/zold-io/wts.zold.io'} submit it
              to our GitHub repository;
              we need your feedback!
        %nav
          %ul
            %li
              &copy;
              %a{href: 'https://www.zerocracy.com'} Zerocracy
            %li{title: 'Currently deployed version of WTS'}
              = "#{ENV['HEROKU_RELEASE_VERSION']}/#{ver}"
            %li{title: 'The version of PostgreSQL server'}
              = "pg:#{settings.pgsql.version}"
            %li{title: 'Zold Ruby software version and the protocol ID'}
              = "#{Zold::VERSION}/#{Zold::PROTOCOL}"
            %li{title: 'Currently consumed memory vs. total system memory, in Mb'}
              = "#{(mem / (1024 * 1024)).round}/#{(total_mem / (1024 * 1024)).round}"
            %li{title: 'Your visible IP address'}
              = "#{request.ip}/#{country}"
            %li
              = "#{((Time.now - http_start) * 1000).round}ms"
        %nav
          %ul
            %li
              %a{href: iri.cut('/terms')} Terms of Use
        %nav
          %ul
            %li
              %a{href: 'https://github.com/zold-io/wts.zold.io/stargazers'}
                %img{src: '//img.shields.io/github/stars/zold-io/wts.zold.io.svg?style=flat-square', alt: 'GitHub stars'}
            %li
              %a{href: 'https://www.sixnines.io/h/2e391'}<
                %img{src: '//www.sixnines.io/b/2e391?style=flat'}
    %script{async: true, src: '//www.googletagmanager.com/gtag/js?id=UA-1963507-54'}
    :javascript
      Cd=document;Cr="&"+Math.random();Cp="&s=1";
      Cd.cookie="b=b";if(Cd.cookie)Cp+="&c=1";
      Cp+="&t="+(new Date()).getTimezoneOffset();
      if(self!=top)Cp+="&f=1";
      if(navigator.javaEnabled())Cp+="&j=1";
      if(typeof(screen)!='undefined')Cp+="&w="+screen.width+"&h="+
      screen.height+"&d="+(screen.colorDepth?screen.colorDepth:screen.pixelDepth);
      Cd.write("<img src='//c.hit.ua/hit?i=59533&g=0&x=2"+Cp+Cr+
      "&r="+escape(Cd.referrer)+"&u="+escape(window.location.href)+
      "' border='0' wi"+"dth='1' he"+"ight='1'/>");
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-1963507-54');
