- # (The MIT License)
- # 
- # Copyright (c) 2018-2025 Zerocracy
- # 
- # Permission is hereby granted, free of charge, to any person obtaining a copy
- # of this software and associated documentation files (the 'Software'), to deal
- # in the Software without restriction, including without limitation the rights
- # to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
- # copies of the Software, and to permit persons to whom the Software is
- # furnished to do so, subject to the following conditions:
- # 
- # The above copyright notice and this permission notice shall be included in all
- # copies or substantial portions of the Software.
- # 
- # THE SOFTWARE IS PROVIDED 'AS IS', WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
- # IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
- # FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
- # AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
- # LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
- # OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
- # SOFTWARE.

%h2
  Step 1: Request Code

%form{method: 'GET', action: iri.cut('/mobile/send')}
  = Rack::Csrf.tag(env)
  %fieldset
    %label
      Enter your mobile phone in
      %a{href: 'https://en.wikipedia.org/wiki/E.164'} E.164
      format (digits only, no leading zeros):
    %input{type: 'text', name: 'phone', placeholder: '12125551122', pattern: '[0-9]+', autocomplete: 'off', required: true, tabindex: 1, autofocus: true}
    %input{type: 'submit', tabindex: 3, value: 'Request'}

%p
  The
  %a{href: 'https://en.wikipedia.org/wiki/SMS'} SMS
  will arrive to your mobile phone
  within the next three minutes.

%p
  You can also use your GitHub account to
  = succeed ',' do
    %a{href: login_link} login
  but only if you work in
  = succeed '.' do
    %a{href: 'https://www.0crat.com/team'} Zerocracy

%p
  = succeed ':' do
    %strong.firebrick ATTENTION
  By logging in you automatically accept the
  = succeed '.' do
    %a{href: iri.cut('/terms')} Terms of Use
