%script{src: '/js/pay.js'}

%h2
  Send a Payment

%p
  Your current balance is
  = succeed '.' do
    %code= confirmed_user.wallet(&:balance)

%form{method: 'POST', action: iri.cut('/do-pay')}
  %fieldset
    = Rack::Csrf.tag(env)
    %label
      Your
      %a{href: 'https://blog.zold.io/2018/07/18/keygap.html'} keygap
      (is it
      = succeed '):' do
        %a{href: 'https://blog.zold.io/2019/03/30/keygap-is-lost.html'} lost?
    %input{type: 'password', name: 'keygap', autocomplete: 'off', required: true, tabindex: 1, autofocus: true}
    %label
      Send ZLD to (either a wallet ID,
      an
      = succeed ',' do
        %a{href: 'https://blog.zold.io/2018/08/06/invoices.html'} invoice
      %a{href: 'https://github.com'} GitHub
      ID stated with
      = succeed ',' do
        %code @
      or a mobile phone number started with
      = succeed '):' do
        %code +
    %input{type: 'text', name: 'bnf', maxlength: 128, size: 35, placeholder: 'e.g. "@yegor256"', autocomplete: 'off', required: true, tabindex: 2}
    %label
      The amount to pay, ZLD:
    %input{type: 'text', id: 'zld', name: 'amount', maxlength: 32, size: 10, placeholder: 'e.g. "14.95"', autocomplete: 'off', required: true, tabindex: 3, oninput: "wts_recalc(#{rate.round(8)}, #{price.round(2)});"}
    %label.gray.small{id: 'out'}
    %label
      Payment details:
    %input{type: 'text', name: 'details', maxlength: 512, style: 'width:100%', placeholder: 'e.g. "For services"', autocomplete: 'off', tabindex: 4}
    %input{type: 'submit', onclick: "return confirm('Are you sure? This operation is not reversable!')", tabindex: 5, value: 'Pay'}

%p
  = succeed ':' do
    %span{style: 'color: red'} ATTENTION
  This operation is not reversable.
  Once you send the payment, you will not be able to get it back, ever.
  Do this at your own risk.
