%h2
  Payables

- list = payables.fetch

- if list.empty?
  %p
    There are no wallets.
- else
  %p
    The largest wallets in the network:
  %table.compact
    %colgroup
      %col{style: 'width: 5em'}
      %col{style: 'width: 5em'}
      %col{style: 'width: 3em'}
      %col{style: ''}
    %thead
      %tr
        %th
          Wallet
        %th
          Balance
        %th
          Updated
        %th
          Found at
    %tbody
      - list.each do |p|
        %tr
          %td
            %code
              %a{href: "http://www.zold.io/ledger.html?wallet=#{p[:id]}"}= p[:id]
          %td.right{title: p[:balance].to_i.to_s}
            = p[:balance].to_zld
          %td{title: p[:updated].utc.iso8601}
            = Zold::Age.new(p[:updated])
          %td
            %a{href: "http://#{p[:node]}/wallet/#{p[:id]}.txt"}= p[:node]
  %p
    Total visible balance is:
    = payables.balance.to_zld
