%h2
  Payouts

- list = payouts.fetch(confirmed_user.login)

- if list.empty?
  %p
    There are no payouts as of yet.
    If you have any ZLD in your wallet, you can
    %a{here: '/btc'} sell them
    any time.
- else
  %p
    The full list of your recent payouts:
  %table
    %colgroup
      %col{style: 'width: 2em'}
      %col{style: 'width: 5em'}
      %col{style: 'width: 4em'}
      %col{style: 'width: 4em'}
      %col{style: ''}
    %thead
      %tr
        %th
          ID
        %th
          Wallet
        %th
          Amount
        %th
          Created
        %th
          Details
    %tbody
      - list.each do |p|
        %tr
          %td
            = p[:id]
          %td
            %code
              %a{href: "http://www.zold.io/ledger.html?wallet=#{p[:wallet]}"}= p[:wallet]
          %td.right
            = p[:amount].to_zld
          %td{title: p[:created].utc.iso8601}
            = Zold::Age.new(p[:created])
          %td
            = p[:details]

- if confirmed_user.login == 'yegor256'
  %p
    The full list of all payouts of all users:
  %table
    %colgroup
      %col{style: 'width: 5em'}
      %col{style: 'width: 2em'}
      %col{style: 'width: 5em'}
      %col{style: 'width: 4em'}
      %col{style: 'width: 4em'}
      %col{style: ''}
    %thead
      %tr
        %th
          Login
        %th
          Wallet
        %th
          Amount
        %th
          Created
        %th
          Details
    %tbody
      - payouts.fetch_all.each do |p|
        %tr
          %td
            = "@#{p[:login]}"
          %td
            %code
              %a{href: "http://www.zold.io/ledger.html?wallet=#{p[:wallet]}"}= p[:wallet]
          %td.right
            = p[:amount].to_zld
          %td{title: p[:created].utc.iso8601}
            = Zold::Age.new(p[:created])
          %td
            = p[:details]
