%p
  Total fund (F):
  = formula[:bank]
  BTC
  %br
  %span.small
    This is how much we have in our bitcoin wallet in Coinbase.

%p
  Total emission (E):
  = formula[:root] * -1
  %br
  %span.small
    This is the total negative balance in the root Zold wallet.

%p
  Owned by Zerocracy (Z):
  = formula[:boss]
  %span.small
    This is how much is still owned by Zerocracy out of the total emission.

%p
  Calculated rate:
  = formula[:rate]
  %span.small
    It is equal to
    %em F / (E - Z)

%p
  Effective rate:
  = rate
  %span.small
    This rate is used in all ZLD-to-BTC exchange operations.

