%p
  Total fund (F):
  %code
    = format('%0.4f', formula[:bank])
    BTC
  %br
  %span.small
    This is how much we have in our bitcoin wallet in Coinbase.

%p
  Total emission (E):
  %code
    = formula[:root]
  %br
  %span.small
    This is the total negative balance in the
    %a{href: 'http://www.zold.io/ledger.html?wallet=' + Zold::Id::ROOT.to_s} root
    wallet.

%p
  Owned by Zerocracy (Z):
  %code
    = formula[:boss]
  %br
  %span.small
    This is how much is
    %a{href: 'http://www.zold.io/ledger.html?wallet=' + formula[:boss_wallet]} still owned
    by Zerocracy out of the total emission.

%p
  Calculated rate:
  %code
    = format('%0.8f', formula[:rate])
  BTC per ZLD
  %br
  %span.small
    It is equal to
    %em F / (E - Z)

%p
  Effective rate:
  %code
    = format('%0.8f', rate)
  %br
  %span.small
    This rate is used in all
    %a{href: 'https://blog.zold.io/2018/12/09/btc-to-zld.html'} ZLD-to-BTC exchange
    operations.

- if formula[:deficit] > 0
  %p
    Fund
    = succeed ':' do
      %span{style: 'color: darkred'} deficit
    %code
      = format('%0.4f', formula[:deficit])
      BTC
    %br
    %span.small
      This is how much Zerocracy has to add to the fund in order to make the effective rate trustable.
