%p
  %img{style: 'display:inline-block', src: '/graph.svg?keys=Fund+Deficit&div=100000000&digits=2'}
  %img{style: 'display:inline-block', src: '/graph.svg?keys=Emission+Office&div=4294967296000&digits=0'}
  %img{style: 'display:inline-block', src: '/graph.svg?keys=Rate+Coverage&div=1000&digits=1'}
  %img{style: 'display:inline-block', src: '/graph.svg?keys=Value+Pledge&div=100&digits=2'}

%p
  Total Fund (F):
  %code
    = format('%0.4f', formula[:bank])
    BTC
  - if defined? guser
    = '/'
    = WTS::Dollars.new(formula[:bank] * formula[:price])
    at the current
    %a{href: 'https://blockchain.info/ticker'} market price
  %br
  %span.smaller.gray
    This is how much we have in our bitcoin wallet in Coinbase.

%p
  Total Emission (E):
  %code
    = formula[:root]
  %br
  %span.smaller.gray
    This is the total negative balance in the
    %a{href: 'http://www.zold.io/ledger.html?wallet=' + Zold::Id::ROOT.to_s} root
    wallet.

%p
  Owned by the office (Z):
  %code
    = formula[:boss]
  %br
  %span.smaller.gray
    This is how much is
    %a{href: 'http://www.zold.io/ledger.html?wallet=' + formula[:boss_wallet]} still owned
    by the office out of the total emission.

%p
  Coverage:
  %code
    = format('%0.8f', formula[:rate])
  BTC per ZLD
  = format('(%d%% of the exchange rate)', formula[:rate] / rate * 100)
  %br
  %span.smaller.gray
    It is equal to
    %em F / (E - Z)

%p
  Exchange Rate:
  %code
    = format('%0.8f', rate)
  - if defined? guser
    = '/'
    = WTS::Dollars.new(rate * formula[:price])
    at the current
    %a{href: 'https://blockchain.info/ticker'} market price
  %br
  %span.smaller.gray
    This rate is used in all
    %a{href: 'https://blog.zold.io/2018/12/09/btc-to-zld.html'} ZLD-to-BTC exchange
    operations.

%p
  Exchange fee:
  %code
    = format('%0.2f%%', exfee * 100)
  - if known?
    = '/'
    because you work in
    %a{href: 'https://www.zerocracy.com/team'} Zerocracy
  %br
  %span.smaller.gray
    Only the seller pays it.

- if formula[:deficit] > 0
  %p
    Fund
    = succeed ':' do
      %span.firebrick deficit
    %code
      = format('%0.4f', formula[:deficit])
      BTC
    %br
    %span.smaller.gray
      This is how much the office has to add to the fund in order to make the effective rate trustable.

%p
  The information was updated
  = Zold::Age.new(mtime)
  ago.
  Read
  %a{href: 'http://papers.zold.io/fin-model.pdf'} this PDF
  to understand what these numbers mean.

%p
  Here is the
  %a{href: '/rate.json'} JSON version
  of this page.
