%p
  Here is the full list of
  = remotes.all.count
  remote node(s) we see now:

%table
  %thead
    %tr
      %th Host
      %th Score
      %th Errors
  %tbody
    - remotes.all.each do |r|
      %tr
        %td
          %a{href: "http://#{r[:host]}:#{r[:port]}/"}
            = "#{r[:host]}:#{r[:port]}"
        %td{style: 'text-align:right;color:' + (r[:score] < 4 ? 'red' : (r[:score] < 16 ? 'orange' : 'green'))}
          = r[:score]
        %td{style: 'text-align:right;color:' + (r[:errors] > 25 ? 'red' : 'inherit')}
          = r[:errors]

%p
  The list has been updated
  %strong= Zold::Age.new(remotes.mtime)
  ago.
  FYI, the entire network is visible
  = succeed '.' do
    %a{href: 'http://www.zold.io/health.html'} here
