- # SPDX-FileCopyrightText: Copyright (c) 2018-2025 Zerocracy
- # SPDX-License-Identifier: MIT

%h2
  Remote Nodes

%p
  %img{style: 'display:inline-block', src: '/graph.svg?keys=Nodes&digits=0&div=1'}

- if remotes.all.empty?
  %p
    There are no visible remote nodes at the moment.
    Try to
    %a{href: iri.cut('/pull')} pull
    in order to update the list.
- else
  %p
    Here is the full list of
    = remotes.all.count
    remote node(s) we see now:
  %table.compact
    %thead
      %tr
        %th Host
        %th Score
        %th Errors
    %tbody
      - remotes.all.sort_by { |r| r[:score] }.reverse.each do |r|
        %tr
          %td
            %a{href: "http://#{r[:host]}:#{r[:port]}/"}
              %span{class: (r[:master] ? 'bold' : '')}
                = "#{r[:host]}:#{r[:port]}"
          %td.right{class: (r[:score] < 4 ? 'firebrick' : (r[:score] < 16 ? 'orange' : 'seagreen'))}
            = r[:score]
          %td.right{class: (r[:errors] > 25 ? 'firebrick' : '')}
            = r[:errors]
  - unless remotes.all.find { |r| r[:master] }
    %p.firebrick
      There is not a single master node in the list!
      Most likely all PUSH and PULL operations will fail.
      Something is wrong with Zold network or our software here.

%p
  The list has been updated
  %strong= Zold::Age.new(remotes.mtime)
  ago.
  FYI, the entire network is visible
  = succeed '.' do
    %a{href: 'http://www.zold.io/health.html'} here
