%h2
  Remote Nodes

- if remotes.all.empty?
  %p
    There are no visible remote nodes at the moment.
    Try to
    %a{href: '/pull'} pull
    in order to update the list.
- else
  %p
    Here is the full list of
    = remotes.all.count
    remote node(s) we see now:
  %table
    %thead
      %tr
        %th Host
        %th Score
        %th Errors
    %tbody
      - remotes.all.sort_by { |r| r[:score] }.reverse.each do |r|
        %tr
          %td
            %a{href: "http://#{r[:host]}:#{r[:port]}/"}
              %span{style: (r[:master] ? 'font-weight:bold' : '')}
                = "#{r[:host]}:#{r[:port]}"
          %td.right{style: 'color:' + (r[:score] < 4 ? 'red' : (r[:score] < 16 ? 'orange' : 'green'))}
            = r[:score]
          %td.right{style: 'color:' + (r[:errors] > 25 ? 'red' : 'inherit')}
            = r[:errors]
  - unless remotes.all.find { |r| r[:master] }
    %p{style: 'color:darkred'}
      There is not a single master node in the list!
      Most likely all PUSH and PULL operations will fail.
      Something is wrong with Zold network or our software here.

%p
  The list has been updated
  %strong= Zold::Age.new(remotes.mtime)
  ago.
  FYI, the entire network is visible
  = succeed '.' do
    %a{href: 'http://www.zold.io/health.html'} here
