- # SPDX-FileCopyrightText: Copyright (c) 2018-2025 Zerocracy
- # SPDX-License-Identifier: MIT

%h2
  Terms of Use

%p
  %a{href: 'https://www.zerocracy.com'} Zerocracy
  is an open source platform designed to help open source software
  developers manage their projects more efficiently.
  The logging in the Zold Web Wallets ("WTS") means your acceptance of
  this Terms of Use.
  WTS is created by Zerocracy in order to provide web access to Users to their
  digital wallets stored and managed by a distributed and
  decentralized network of
  %a{href: 'https://www.zold.io'} Zold
  nodes.

%p
  = succeed '.' do
    %strong Privacy of Data
  We collect the data User provides us and store it in our database, including
  Zold wallet IDs, private RSA keys (excluding the keygap part), and
  some other information.
  We never share User's data with anyone.

%p
  = succeed '.' do
    %strong No IP Recording
  We never record IP addresses of Users.

%p
  = succeed '.' do
    %strong Know Your Client
  We don't identify Users in WTS.
  However, in order 1) to make any operations with fiat money, like PayPal,
  or 2) to login via GitHub OAuth,
  the User must be identified by
  %a{href: 'https://www.0crat.com'} 0crat
  website, according
  to the
  %a{href: 'http://www.zerocracy.com/terms.html#kyc'} KYC section
  of their
  = succeed '.' do
    %a{href: 'http://www.zerocracy.com/terms.html'} Terms

%p
  = succeed '.' do
    %strong Cookies
  We use cookies to enable persistance of the web authentication process of the User.
  We don't persist sessions on the server side.
  We also use cookies, web beacons, and other storage technologies from
  third-party partners such as Google for measurement services and
  for marketing purposes.

%p
  = succeed '.' do
    %strong Law
  These Terms shall be governed and construed in accordance with
  the laws of the State of California applicable to contracts made
  and fully performed therein, and the state and federal
  courts located in California shall have exclusive jurisdiction of
  all suits and proceedings arising out of or in connection with this agreement.

%p
  = succeed '.' do
    %strong Conduct
  The User must not interfere or intend to interfere in any
  manner with the functionality or proper working of WTS.

%p
  = succeed '.' do
    %strong Harm
  The User will indemnify and hold harmless Zerocracy,
  its officers and directors, employees and agents from any
  and all third party claims, damages, costs and
  (including reasonable attorneys fees) arising out of the User's use of WTS
  in a manner not authorized by these Terms, and/or applicable law,
  or the User's or its employees' or personnel's negligence or
  willful misconduct.

%p
  = succeed '.' do
    %strong Changes
  These Terms may be modified by Zerocracy at any time.

%p
  If any questions about this document, please
  = succeed '.' do
    %a{href: 'mailto:terms@zold.io'} email us
