-# SPDX-FileCopyrightText: Copyright (c) 2018-2025 Zerocracy
-# SPDX-License-Identifier: MIT

%h2
  Feature Toggles

%form{method: 'POST', action: iri.cut('/set-toggle')}
  = Rack::Csrf.tag(env)
  %input{type: 'text', name: 'key', placeholder: 'Key', size: 20, autocomplete: 'off', required: true, tabindex: 1, autofocus: true}
  %input{type: 'text', name: 'value', placeholder: 'Value (empty means "delete")', size: 40, autocomplete: 'off', tabindex: 2}
  %input{type: 'submit', onclick: "return confirm('Are you sure?')", tabindex: 3, value: 'Set'}

%p
  Full list of them:

%table.compact
  %colgroup
    %col{style: 'width: 12em'}
    %col{style: 'width: 4em'}
    %col{style: ''}
  %thead
    %tr
      %th
        Key
      %th
        Updated
      %th
        Value
  %tbody
    - toggles.list.each do |t|
      %tr
        %td
          %code= t[:key]
        %td{title: t[:updated].utc.iso8601}
          = Zold::Age.new(t[:updated])
        %td
          - if t[:value].empty?
            = '&mdash;'
          - else
            = largetext(t[:value])
